* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #f5f5f5;
    --secondary-color: #ff6347;
    --accents1-color: #050505;
    --heading-font: "Arial", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
body {
    font-family: var(--body-font);
    color: var(--accents1-color);
    background-color: var(--primary-color);
    line-height: 1.6;
}
header {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px;
    justify-content: center;
    align-items: center; 
}
.menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 250px;
}
.menu li a {
    text-decoration: none;
    color: var(--accents1-color);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px;
    transition: color 0.3s ease;
}
.menu li a:hover {
    color: var(--secondary-color);
}
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}
.h1-about {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.60;
    font-size: 1.4rem;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    color: var(--accents1-color);
} 
article {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left:0;
    right: 0;
    padding: 16px;
    margin-right: 125px;
    background-color: var(--secondary-color);
    opacity: 0.80;
    text-align: center;
}
article img{
    float: right;
    max-width: 300px;
    padding: 20px;
}
article p {
    text-align: justify;
    text-align: center;
    margin-top: 50px;
}
.history-section {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accents1-color);
    margin: 20px auto;
    border-radius: 6px;
    width: 90%;
    max-width: 1000px;
}
.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}
.history-grid img {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.history-section h2 {
    font-family: var(--heading-font);
    margin-bottom: 10px;
}
.adventure-section {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accents1-color);
    margin: 20px auto;
    border-radius: 6px;
    width: 90%;
    max-width: 1000px;
}
.adventure-section h2 {
    font-family: var(--heading-font);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.gallerycontact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
figure {
  text-align: center;
}
footer {
    background: var(--primary-color);
    padding: 16px;
    border-top: 2px solid var(--secondary-color);
}
.footer-container {
    display: grid;
    grid-template-columns: 80% 20%;
}
.footer-container p {
    margin-left: 50%;
    font-size: 0.9rem;
}
.socialmedia {
    display: flex;
    gap: 12px;
}
.socialmedia a img {
    width: 35px;
    height: auto;
    transition: transform 0.3s ease;
}

.socialmedia a img:hover {
    transform: scale(1.1);
}

/*contact*/

.trips-page h1 {
    text-align: center;
    margin-bottom: 24px;
    background-color: black;
    color: white;
    padding: 16px 0;
}

.map-form {
    display: flex;
    gap: 30px;
    align: center;
}

form {
    display: flex;
    width: 340px;
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: #eee;
    display: grid;
    align-items: center;       
    justify-content: center;
}

button{
	padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}

button:hover {
  background-color: var(--accents1-color);
  color: var(--primary-color);
}

/*Trip Page*/

.trips-page h1 {
    text-align: center;
    margin-bottom: 24px;
    background-color: var(--secondary-color);
    color: white;
    padding: 16px 0;
}
.trips-page h2 a {
  text-decoration: none;
  text-align: center;
  background-color: blue;
  color:white;
  border: none;
  padding: 10px;
  border-radius: 9px;
  margin-top: 10px;
  width: 100%;
}
.trips-page h2 {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 32px;
}
.trips-page section p {
    text-align: center;
    padding: 20px;
    border: 1px solid var(--accents1-color);
    background: #f4f9fc;
    border-radius: 6px;
    max-width: 1000px;
    margin: 2rem auto;
}

.trips2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--accents1-color);
    background: #f4f9fc;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 1000px;
    margin: 2rem auto;
}

section
.trips2 section {
    flex-direction: row;
    border: 1px solid var(--accents1-color)
}
.trip-profiles {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}
img.trip-image  {
    max-width: 90%;
}
.trip-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 8px;
}
.trip-figure figcaption{
    text-align: center;
    margin-top: 8px;
    max-width: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.trips-page table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 24px;
}
.trips-page th, .trips-page td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
.trips-page th {
    background-color: #eee;
}
.trips-page figure {
    text-align: center;
    width: auto;
}
.trips-page caption {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.2em;
}
/*Index**/

.home-page h1 { 
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff
}
.home-page article {
    background-color: #000000b8;
    color: #fff;
    position: absolute;
    bottom: 0%;
    padding: 24px;

}
.home-newsletter {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 1rem;
}
.home-newsletter h2 {
    margin-bottom: 20px;;
}

.home-adventure {
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #f4f9fc;
}
.home-adventure h2 {
    margin-bottom: 16px;
    color: var(--primary-color);
}
.home-adventure a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    border: 1px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
}
.home-adventure a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}
.home-page .contact-form {
    max-width: 400px;
    margin: 0 auto;
}
.rafting-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    border-radius: 6px;
    max-width: 1000px;
    margin: 2rem auto;
    justify-content: center;
}
.rafting-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
}
.image-card {
    display: grid;
    background: #fff;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.image-card h3 {
    margin: 1rem;
    justify-content: center;
}
.rafting-grid p {
    margin: 0.25rem 0;
    color: #444;
    line-height: 1.4;
    justify-content: center;
}
.intro {
    grid-column: 1 / -1;
    text-align: center;
}
.intro h2 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}
