:root{
    --color-primary: #970000;
    --color-secondary: #ff6347;
    --color-background: #f5f5f5;
    --color-text: #151414;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
    --heading-font: 'Georgia', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    color: var(--color-text);
}

header, main, footer{
    margin: auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--color-primary);
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--color-secondary);
    padding: 20px;
}

nav, p, section, article{
    margin: auto;
    padding: 10px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--color-secondary);
    color: rgb(0, 0, 0);
}

.hero article{
    background-color: var(--color-secondary);
    background: 0.7;
    padding: 20px;
    margin: 20px;
    
}

.hero article img{
    float: right;
    width: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
