.callout {
	max-width: 400PX;
    margin: 10px;
    border: 1px solid rgb(red, green, blue);
    background-color: #247;
    color: #fff;
}

.callout img {
	float: rigth;
    margin: 0 0 10px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 15;
    height: auto;
}

blockquote {
	margin: 1;
}

cite {
    display: block;
	border-top:  1px dotted #fff;
    text-align: right;
    font-style: normal;
    font-size: smaller;
}